mat-table {
    text-align: center;
    align-items: center;
    justify-content: center;
}

mat-header-cell {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: 600;
}

mat-cell {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.btnGroup {
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.main {
    padding: 20px;
}